/*! Variables start */
:root {
  /* Font Styles */
  --mainfont: "Lexend";

  /* Color Variables */
  --colorGreenMain: #076C54;
  --colorBlack: #1D1D1D;
  --colorLightGreen: #D7E5BE;
  --colorMainGray: #969696;
  --colorLightGray: #606566;
  --colorbackground: #FDFDFD;
  --colorLightyellow: #D7E5BE;
  --colorultralightGreen: #EAF6EB;
}

body {
  font-family: var(--mainfont) !important;
  cursor: default;
  height: 100vh;
  background-color: var(--colorbackground);
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}


/* Reset Styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Text Selection Styles */
::-moz-selection {
  color: var(--colorBlack);
  background: var(--colorLightGreen);
}

/* Page selection colos  */
::selection {
  color: var(--colorbackground);
  background: var(--colorLightGreen);
}

.D-Active {
  color: var(--colorLightGreen) !important;
}

/*! Variables End */


/* Back To Top Button start */
#btn-back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 10;
}

.D-BackToTop {
  height: 50px;
  width: 50px;
  background-color: var(--colorLightGreen);
  border-radius: 50%;
  transition: .2s linear;
}

.D-BackToTop:hover {
  background-color: var(--colorLightGreen);
}

.ri-arrow-up-fill {
  color: var(--colorbackground);
  font-size: 18px;
}

/* Back To Top Button end */










/* styles start here */

/* 
========================================================
                  Nav Bar
========================================================
*/

.main-logo {
  width: 110px;
  flex-shrink: 0;
}

.nav-link {
  color: var(--colorBlueMain) !important;
  font-family: var(--mainfont);
  font-size: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
}

.nav-link:hover {
  color: var(--colorLightyellow) !important;
}

.D-Button-Primary {
  width: 136px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 28px;
  box-shadow: 0px 4px 16px 0px rgba(4, 10, 14, 0.25);
  background: var(--colorGreenMain);
  color: var(--colorbackground);
  border-color: transparent;
  transition: 10ms;
  font-weight: 700;
  letter-spacing: 1px;
}

.D-Button-Primary:hover {
  background-color: var(--colorLightyellow) !important;
  color: var(--colorGreenMain);
}

.navbar-nav {
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin: 0 15px;
}

.navbar-nav .nav-item {
  margin-right: 5px;
}

.navbar {
  background-color: var(--colorbackground) !important;
  border-radius: 28px;
  margin-top: 10px;
  box-shadow: 0px 2.14px 9.65px 0px rgba(24, 90, 67, 0.38);
}

.d-NavContainerFluid {
  background-color: var(--colorbackground) !important;
  width: 100%;
}

.D-MainAccountPFP {
  border-radius: 100px;
  border: 3px solid var(--colorGreenMain);
  height: 45px;
  width: 45px;
}


.sampleText {
  color: red !important;
}

/* Nav bar End */






/*===================================
            Title Section
    ===================================*/


.center-text {
  text-align: center;
}

.A-title-head-section {
  margin-top: 200px;
}

.A-SubTitle-text {
  font-size: 20px;
}

.A-Title-text {
  margin-top: -10px;
  color: #464646;
  text-align: center;
  font-family: var(--mainfont);
  font-size: 45.397px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.908px;
  text-transform: capitalize;
}

.A-Title-Para {
  color: #464646;
  text-align: center;
  font-family: var(--mainfont);
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.17px;
  text-transform: capitalize;
}

.head-para {
  margin-top: -5px;
}



/*===================================
            Head image Section
    ===================================*/


.A-head-img-sub-1 {
  width: 267px;
  height: 291px;
  flex-shrink: 0;
  border-radius: 28px;
  text-align: right;
  margin-right: -35%;
}

.A-head-img-main {
  width: 327px;
  height: 357px;
  flex-shrink: 0;
  border-radius: 28px;
  object-fit: cover;
}

.A-top-head {
  margin-top: 50px;
  align-items: center;
}

.A-head-img-sub-2 {
  width: 267px;
  height: 291px;
  flex-shrink: 0;
  border-radius: 28px;
  text-align: right;
  margin-left: -35%;
}

.A-img-head {
  transition: 500ms;
  box-shadow: 0px 2.145px 9.652px 0px --colorLightyellow;
}

.A-img-head:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3.22353px 14.50588px 0px rgba(34, 87, 122, 0.15);
  cursor: pointer;
}




/*===================================
            package product Section
    ===================================*/

.A-Package-product-section {
  margin-top: 60px;
  height: auto;
  width: auto;
  background-color: var(--colorultralightGreen);
  padding: 20px 20px 20px 20px;
}

.A-image-align-right {
  text-align: right;
  margin-right: 25%;
}

.A-product-img {
  width: 334px;
  height: 409px;
  flex-shrink: 0;
  margin-top: 46px;
  margin-bottom: 46px;
}

.A-product-home-title {
  margin-top: 51px;
  margin-bottom: 46px;
}

.A-product-home-Title {
  color: var(--Dark, #226F54);
  font-family: var(--mainfont);
  font-size: 33.33px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.667px;
  text-transform: capitalize;
  margin-right: 20px;
}

.A-product-home-para {
  flex-shrink: 0;
  color: #1E1E1E;
  margin-top: 6%;
  font-family: Poppins;
  font-size: 18.517px;
  font-style: normal;
  font-weight: 300;
  line-height: 150.067%;
  /* 27.788px */
  letter-spacing: 0.556px;
  text-transform: capitalize;
  margin-right: 25%;
}

.A-btn-exploreMore {
  width: 200px;
  margin-top: 30px;
  font-size: 18.517px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.37px;
  text-transform: capitalize;
}





/*===================================
            Home Video Section
    ===================================*/

.A-title-video-section {
  margin: 7% 20px 20px 20px;
}

.A-span {
  width: 1550px;
  height: 45px;
}

.A-home-video {
  text-align: center;
  margin-top: 50px;

}

.video {
  border-radius: 25px;
}

.imageH{
  height: 45px;
  width: 155px;
}

.imageH1{
  height: 45px;
  width: 105px;

}

/* Video Gallery Start By here */
.container .main-video{
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}
.container .main-video .video{
  width: 100%;
  border-radius: 5px;
}



.video-list{
  background: #fff;
  border-radius: 5px;
  height: 520px;
  overflow-y: scroll;
}

.container .video-list .video1{
  width: 300px;
  height: 200px;
  border-radius: 25px;
}


/* 
========================================================
              Reviews Section
========================================================
*/


.d-MainPage-Reviews {
  margin-top: 6%;
}

.d-containerReviews {
  padding-top: 20px;
  padding-bottom: 20px;
}


.d-reviews-MainText {
  color: var(--colorBlack);
  font-family: var(--mainfont);
  font-size: 37px;
  font-weight: 700;
  letter-spacing: 0.37px;
  margin-top: 20px;
}

.d-reviews-ContainerFluid {
  width: 100%;
  height: auto;
  background: var(--colorultralightGreen);
}

.d-rev-ProfilePhoto {
  height: 70px;
  width: 70px;
  border-radius: 25px;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  object-fit: cover;
}

/* card name */
.d-rev-Name {
  color: var(--colorbackground);
  font-family: var(--mainfont);
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
}

/* .d-rev-Name:hover {
  color: var(--colorbackground);
} */

.d-rev-position {
  color: var(--colorbackground);
  font-size: 18px;
  opacity: 50%;
  text-align: center;
}

.d-rev-description {
  font-size: 16px;
  /* text-align: justify; */
  text-align: center;
  padding: 5px 5px;
  font-weight: 300;
  color: var(--colorLightGreen);
  transition: 1s;
  opacity: 70%;
}

/* .d-rev-description:hover {
  color: var(--colorbackground);
} */

.A-rev-cards {
  margin-top: 30px;
}

.A-card-rev {
  border-radius: 28px;
  background-color: var(--colorGreenMain);
  height: 470px;
  transition: 1s;
}

.A-card-rev:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3.22353px 14.50588px 0px rgba(34, 87, 122, 0.15);
  cursor: pointer;

}

.d-rev-ProfilePhoto{
  height: 150px;
  width: 150px;
  border-radius:75px;
}

/* .A-card-hover:hover {
  color: var(--colorbackground);
} */



/* 
========================================================
              News Alert Section
========================================================
*/

.d-news-title {
  margin-bottom: 10px;
  color: var(--colorBlueMain);
  font-family: var(--mainfont);
  font-size: 37px;
  font-weight: 700;
  letter-spacing: 0.37px;
  text-align: center;
}

.D-MainPageNewAlertImage{
  height: 320px;
  width: 320px;
}

.D-NewsAlertSubscribe {
  text-align: center;
  height: 400px;
}

.form-input {
  border-radius: 28px;
  padding-left: 30px;
  text-align: center;
  justify-content: center;

}

.form-input1 {
  border-radius: 28px;
  padding-left: 30px;
  text-align: center;
  justify-content: center;

}

.d-news-subTitle {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.A-btn-subscription {
  margin-top: 10px;
  justify-content: center;
  width: 150px;
}





/* 
========================================================
              Footer Section
========================================================
*/

.D-FooterContainer {
  background-color: var(--colorGreenMain);
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  
}

.footer-heading {
  color: var(--colorbackground);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 25px;
}

.ri-checkbox-circle-line {
  margin-right: 5px;
}

.D-FooterLinks {
  color: #e6e6e6;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.05px;
  font-size: 15px;
}

.D-FooterLinks:hover {
  color: var(--colorLightyellow);
}

.ri-heart-3-fill {
  color: rgb(255, 59, 59);
}

.D-FooterLinkText {
  font-weight: 500;
  letter-spacing: .8px;
  color: var(--colorLightGreen) !important;
}

.D-FooterLinkText:hover {
  color: var(--colorLightGreen) !important;
}

.D-copyright {
  color: var(--colorLightGreen);
}


/* Pacakges Start By Here */

.SectionMarginTop{
  margin-top: 150px;
}

.line1{
  background-color: var(--colorLightGreen);
  border-radius: 12px;
}

.line2{
  background-color: #87C38F;
  border-radius: 12px;
}

.line3{
  background-color: var(--colorGreenMain);
  border-radius: 12px;
}


.J-PackCardTopTitle{
  background-color: var(--colorBlueMain);
  border-radius: 8px 8px 0 0;
}

.J-PackCardTopTitleText {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.87px;
}

.J-PackCardBlog{
  transition: .6s;
}

.J-PackCardBlog:hover{
  transform: translateX(10px);
}

.J-PackCardText{
  padding-top: 12px;
  color: #464646;
  font-family: var(--mainfont);

  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.39px;
  text-align: justify;
}

.J-PackCardTitle {
  color: #464646;
  font-family: var(--mainfont);
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1.167px;
}

.J-PackCardTitleSeco{
  color: var(--colorBlueMain);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.167px;
}


.J-PackCardPrice{
  color: #22577A;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.39px;
}

.J-PackCardBackGround {
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(34, 87, 122, 0.15);
}

/* all content start here */
.J-PackMainText {
  color: var(--colorBlueMain);
  text-align: center;
  font-family: var(--mainfont);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.35px;
}

.J-SubTextMain {
  color: var(--colorBlueMain);
  font-family: var(--mainfont);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.78px;
}

.J-SubTextSec {
  color: var(--colorBlueMain);
  font-family: var(--mainfont);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.78px;
}

.J-AccodianTitle {
  color: var(--colorBlueMain);
  font-family: var(--mainfont);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.J-AccodianDetails {
  color: var(--colorBlueMain);
  font-family: var(--mainfont);
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0.16px;
}

.J--SectionTop {
  margin-top: 50px;
}

.J-CardBody {
  border-radius: 12px;
  border: 1px solid #E9E9E9;
  background: var(--colorWhite);
  box-shadow: 0px 4px 18px 0px rgba(34, 87, 122, 0.15);
}

.J-OderCardTitle {
  color: var(--colorBlueMain);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.4px;
}

.J-OderCardDescription01 {
  color: #598CAE;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.63px;
}

.J-OderCardDescription02 {
  color: var(--colorBlueMain);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.24px;
}

.img-fluid{
  border-radius: 30px;
  height: 250px;
  width: 4000px;
}




/* Basic Package Start By Here */

.SectionMarginTop1{
  margin-top: 150px;
}

.topic1{
  color: #464646;
  font-weight: 400;
  font-family: var(--mainfont);

}

.topic2{
  color: #464646;
  font-weight: 600;
  font-family: var(--mainfont);

}



.D-ShopItemCard {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(34, 87, 122, 0.15);
  border-radius: 14px;
  /* height: 31.5rem; */
  transition: .7s;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 100px;
  width: 400px;
}

.D-ShopItemCard:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.D-ShopItemCard:hover .D-ShopItemImage{
  transform: scale(1.04);
}




.D-SecCardSignleItem {
  border: 1.5px solid var(--colorBlueMain);
  border-radius: 12px;
  font-size: 17px;
  font-weight: 400;
}

.D-ShopMainText {
  color: var(--colorBlueMain);
  font-family: var(--mainfont);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.37px;
}

/* product card */
img {
  width: 100%;
}

.D-ShopItemTitle {
  color: var(--colorBlueMain);
  font-family: var(--mainfont);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.45px;
  color: var(--colorGreenMain);
}

.D-ShopItemPrice {
  color: var(--colorBlueMain);
  font-family: var(--mainfont);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.539px;
  color: var(--colorGreenMain);
}

.ri-star-line {
  color: var(--colorYellow);
  font-size: 20px;
}

.D-SectionPAdding {
  margin-top: 130px;
}

.D-ShopRatings {
  margin-top: -17px;
}

.D-ShopItemImage {
  border-radius: 12px;
  transition: .7s;
  
}

.D-ShopAddToCartButton {
  height: 100%;
}


.D-ShopAddToCartButton:hover {
  height: 100%;
}


/* Card 01 */
.D-Button-Primary1 {

  width: 160px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(34, 87, 122, 0.25);
  background:var(--colorGreenMain);
  color: white;
  border-color: transparent;
  transition: 10ms;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 20px;
}

.D-Button-Primary1:hover {
  background-color:var(--colorLightGreen) !important;
  color: white;
  border: none;
}




.D-Button-PrimaryCopy1{
  width: 160px;
  height: 44px;
  margin-left: 25px;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(34, 87, 122, 0.25);
  background:var(--colorGreenMain);
  color: white;
  border-color: transparent;
  transition: 10ms;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 20px;
  
}

.D-Button-PrimaryCopy1:hover {
  background-color:var(--colorLightGreen) !important;
  color: white;
  border: none;
}





.D-ShopAddToCartButton {
  height: 100%;
}

.D-ShopAddToCartButton:hover {
  height: 100%;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  right: -100%;
  width: 1000px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0px 4px 16px 0px rgba(34, 87, 122, 0.25);
  transition: 1.5s;
  z-index: 9999;
  /* border: 1px solid var(--colorBlueMain); */
}

.cart.active {
  right: 0;
  transition: .5s;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  color: var(--colorGreenMain);
  font-size: 50px;
}


.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  
  
}

.cart-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding: 10px;
}

.cart-product-details{
  font-family: var(--mainfont);
  font-size: 0.8rem;
  color: var(--colorGreenMain);
  font-weight:400px ;
  

}

.detail-box {
  display: grid;
  row-gap: .5rem;
}

.cart-product-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--colorGreenMain);
  font-weight:1400px ;
  

}



.cart-price {
  font-weight: 500;
}

.cart-Shipping-Cost{
   color: red;
  
   font-size: 15px;
}
.cart-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--main-color);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 24px;
  color: var(--main-color);
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  
  border-top: 2px solid red;
  margin-bottom: -30px;
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--colorGreenMain);
  font-size: 25px;
}

.total-price {
  margin-left: .5rem;
  color: var(--colorGreenMain);
  font-size: 25px;
}

.D-ShopButtonBuyNow {
  width: 136px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(34, 87, 122, 0.25);
  background: var(--colorGreenMain);
  color: white;
  border-color: transparent;
  transition: 10ms;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 25px;
}

.D-ShopButtonBuyNow:hover {
  background-color: var(--colorLightGreen) !important;
  border: none !important;
}

#cart-close {
  position: absolute;
  top: 1rem;
  right: .8rem;
  font-size: 2rem;
  color: red;
  cursor: pointer;
}


.float {
  position: fixed;
  bottom: 70%;
  right: 0px;
  background-color: var(--colorBlueMain);
  color:var(--colorGreenMain);
  box-shadow: 0px 4px 16px 0px rgba(34, 87, 122, 0.25);
  z-index: 999;
  border-radius: 50% 0px 0px 50%;
  /* transform: rotate(-90deg); */

  font-size: 20px;
  cursor: pointer;
}


.Chilli-details{
  color: red;
  display: none;
}
.Chilli-Price{
  display: none;
  color:var(--colorGreenMain);
}

.ChilliSeedPacket {
  display: none;
}


/* Red Chilli Basic Package Start By Here */

.RedChilli-Basictopic1{

}

.B-RC-Tittle{
  padding-top: 50px;
  color: #464646;
  font-family: var(--mainfont);

}
.fa-circle{
  font-size: 10px;
  
}

.chilliVarients{
  font-family: var(--mainfont);
}

.IconDec{
  font-size: 10px;
}

.detailsIcon{
  height: 150px;
  width: 160px;
}





/* Card 01 */

.Basic-Chilli-Price{
  font-size: 30px;
}
.D-Button-Primary2 {

  width: 160px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(34, 87, 122, 0.25);
  background:var(--colorGreenMain);
  color: white;
  border-color: transparent;
  transition: 10ms;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 20px;
}

.D-Button-Primary2:hover {
  background-color:var(--colorLightGreen) !important;
  color: white;
  border: none;
}



.D-Button-PrimaryCopy2{
  width: 150px;
  height: 40px;
  
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(34, 87, 122, 0.25);
  background:var(--colorGreenMain);
  color: white;
  border-color: transparent;
  transition: 10ms;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 20px;
  
}

.D-Button-PrimaryCopy2:hover {
  background-color:var(--colorLightGreen) !important;
  color: white;
  border: none;
}


.shippingCost{
  color: red;
}
.chilliVarients-Cart-Display{
  display: none;
}


/* Standard Package Start By Here */

.plus{
  color: red;
  font-family: var(--mainfont);
  font-weight: 600px;
  margin-left: 180px;
}

.Free-food{
  height: 180px;
  width: 130px;
}

.fa-file{
  color: red;
}

#joinn{
  height: 400px;
  width: 400px;
}




/* Abut Us Page Start By Here */
.blog{
  margin-top: 50px;
}



/* see more button style start */
.cta {
  border: none;
  background: none;
 
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 12px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: var(--colorBlueMain);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:var(--colorGreenMain);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* see more button style end */

.service-package-image{
  border-radius: 10px;
}


/*   -------------      BLOG     ------------------ */

/*   ------------   Tomato BLOG  ------------------*/

.B-Tomato-Img{
  height: 500px;
  width: 500px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
 

}

/* -------------- Contact-Us Page Start By Here ----------------- */
.container-section{
  margin-left: 110px;
}
.contact-us-title{
  color: var(--colorGreenMain);
  font-family: var(--mainfont);
  font-weight: 2000px;
  padding-top: 140px;
  font-size: 40px;
  
  

}

.contact-us-des{
  color: var(--colorGreenMain);
  font-family: var(--mainfont);
  font-weight: 500px;
  font-size: 25px;
  

}

.form-label-Tag{
  color: var(--colorGreenMain);
}
.form-label-Tag1{
  color: var(--colorGreenMain);
  padding-top: 40px;
}
.form-label-Tag-Star{
  color: red;
}
.form-label2{
  margin-top: 20px;
}

.form-control{
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-color: var(--colorGreenMain);
  border-width: 3px;
  border-radius: 0;
  width: 280px;
  
}
.form-control2{
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-color: var(--colorGreenMain);
  border-width: 3px;
  border-radius: 0;
  width: 650px;
  
}

.form-control2:active,
.form-control2:focus {
    outline: none;
  
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:var(--colorGreenMain);
}

.form-control1:active,
.form-control1:focus {
    outline: none;
  
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:var(--colorGreenMain);
}

.form-control:active,
.form-control:focus {
    outline: none;
  
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:var(--colorGreenMain);
}


.form-control1{
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-color: var(--colorGreenMain);
  border-width: 3px;
  border-radius: 0;
  width: 650px;
  
}


.label-size{
  margin-top: 50px;
}
